*{
    padding: 0px;
    margin: 0px;
    font-family: monospace, Tahoma;
}
body{
    background-color: #9197AE;
}

header{
    background-color: #273043;  
    text-align: center;
    height: 100px;
    width: 100%;
    border: black 2px solid;
}
header div{
    display: inline-block;
    margin-top: 20px;
}
header li{
    display: inline;
    margin: 20px;
    font-size: 20px;
    border: #EFF6EE solid 2px;
    color: #EFF6EE;
}
header > a{
    text-decoration: none;
    color: #EFF6EE;
}
#section1{
    text-align: center;
    height: 400px;
    padding: 20px;
    background-color: #9197AE;
    color: #EFF6EE;
}

#section1 img{
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: #EFF6EE solid 4px;
}

#section2{
    background-color: #273043;
    padding: 20px;
    text-align: center;
    border: black 2px solid;
    color: #EFF6EE;
   
}

#section2 ul, h4, li{
    list-style: none;
    padding: 10px;
}

footer a{
    display: block;
    color: #DD0426;
    text-align: center;
    margin: 25px;
    text-decoration: none;

}